{%  set notificationType = widget.settings.notificationType.mobile %}
{%  set headerNotification = widget.settings.headerNotification.mobile %}
{%  set content = widget.settings.content.mobile %}

    <div class="widget">
        <notification-message
                type="{{ notificationType }}"
                {% if headerNotification | trim is not empty%} header="{{ headerNotification }}" {% endif %}>
            {{ content | raw }}
        </notification-message>
    </div>
