<script type="x/template" id="notification-message-template">
    <div class="ui message" :class="type" v-if="!hidden">
        <i class="close icon" @click="hide"></i>
        <div class="header">
            {% verbatim %}
             {{header}}
            {% endverbatim %}
        </div>
        <slot></slot>

    </div>
</script>